@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
  margin: 10px 10px;
}

.NavBar {
  box-shadow: var(--shadow-elevation-low);
  display: flex;
  margin: 20px 20px;
  padding: 0px 20px;
  background-color: #ffffff;
}

.QuestList{
  width: 50%;
  margin: 20px 20px;
  box-shadow: var(--shadow-elevation-medium);
  background-color: #ffffff;
}

:root {
  --shadow-color: 0deg 0% 63%;
  --shadow-elevation-low:
    0.3px 0.5px 0.9px hsl(var(--shadow-color) / 0),
    1px 2px 3.4px hsl(var(--shadow-color) / 0.52);
  --shadow-elevation-medium:
    0.3px 0.5px 0.9px hsl(var(--shadow-color) / 0),
    5px 10px 16.8px hsl(var(--shadow-color) / 0.72);
  --shadow-elevation-high:
    0.3px 0.5px 0.9px hsl(var(--shadow-color) / 0),
    8px 16px 26.8px hsl(var(--shadow-color) / 0.6),
    25px 50px 83.9px hsl(var(--shadow-color) / 1);
}